* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background: #f1f5f8;
  font-family: 'Courier', sans-serif;
}

h1 {
  color: red;
}

.booklist {
  gap: 2rem;
  width: 90vw;
  display: grid;
  max-width: 1170px;
  margin: 5rem auto;
}

.book {
    padding: 1rem 2rem;
    background: #fff;
    border-radius: 1rem;
}

.book .author {
    color: #f17d98;
}

@media screen and (min-width: 768px) {
    .booklist {
        grid-template-columns: (3, 1fr);
    }
}
